<button ng-if="$ctrl.loggedIn" ng-click="$ctrl.logout()">Logout</button>
<div class="auth-box">
    <div class="greeting">
        <p>Ready to Start Your Adventure?</p>
        <p>Login or Register Below!</p>
    </div>
    <div class="user-auth">
    <div class="login" ng-if="$ctrl.login">
        <form class="login-form" ng-submit="$ctrl.login($ctrl.user)">
                <input type="email" placeholder="Email" ng-model="$ctrl.user.email"/>
                <input type="password" placeholder="Password" ng-model="$ctrl.user.password"/>
                <button class="landing-button" type="submit">Login</button>
        </form>
    </div>

    <div class="register" ng-if="$ctrl.landingPage">
        <button class="landing-button" ng-click="$ctrl.registering = !$ctrl.registering; $ctrl.landingPage = !$ctrl.landingPage; $ctrl.login=false">Register</button>
    </div>

    <div class="registration-page" ng-if="$ctrl.registering">
        <form class="register-form" ng-submit="$ctrl.register($ctrl.user)">
                <input type="email" placeholder="Email" ng-model="$ctrl.user.email"/>
                <input type="password" placeholder="Password" ng-model="$ctrl.user.password"/>
                <button class="landing-button" type="submit">Register</button>
        </form>
    </div>
    </div>
</div>
