<div class="register" ng-if="$ctrl.landing-page">
    <button ng-click="$ctrl.registering = !$ctrl.registering; $ctrl.landing-page = !$ctrl.landing-page">Register</button>
</div>

<div class="registration-page" ng-if="$ctrl.registering">
    <form ng-submit="$ctrl.register(email, password)">
        <h5>Email</h5>
        <input type="email" placeholder="Email" ng-model="$ctrl.email"/>
        <h5>Password</h5>
        <input type="password" placeholder="Password" ng-model="$ctrl.password"/>
        <button type="submit">Register and Start Sighting!</button>
    </form>
</div>