
.wildlife-card {
    border: 1px solid black;
    display: inline-block;
    height: 350px;
    width: 200px;
    margin: 5px;
    overflow: hidden;
    text-align: center;
}


.wildlife-card h3 {
    font-weight: bold;
}

.wildlife-card h4 {
    font-style: italic;
}

.unlogged-wildlife-card {
    /*background-color: rgba(128,128,128,0.5);*/
    border: 1px solid black; 
    display: inline-block;
    height: 300px;
    width: 200px;
    margin: 5px;
    overflow: hidden;
    text-align: center;
    /*position: relative;*/
}

.unlogged-wildlife-card h3 {
    /*position: absolute;*/
}


.modal-img {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.wildlife-modal {
   position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
}

.modal-content {
    margin: 5% auto;
    border: 1px solid black;
    width: 80%;
    padding: 5px;
}

.closebtn {
    color:black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.logbtn {
    display: block;
    margin: 5px auto;
}

 html,
      body {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
        position: static !important;
        
      }


      .landing-page {
      text-align: center;
      margin: 10%;
      }

      .landing-page h1 {
          top: 20%;
          font-size: 100px;
          margin: 3%;
      }

      .login {
          top: 50%;
      }

      .login-form {
          margin-top: 5%;
      }

      .register {
          margin-top: 5%;
          margin-left: -5%;
      }

      .register-form {
          margin-left: 18px;
      }




