
.wildlife-card {
    border: 1px solid black;
    display: inline-block;
    height: 350px;
    width: 200px;
    margin: 5px;
    overflow: hidden;
    text-align: center;
}


.wildlife-card h3 {
    font-weight: bold;
}

.wildlife-card h4 {
    font-style: italic;
}

.unlogged-wildlife-card {
    /*background-color: rgba(128,128,128,0.5);*/
    border: 1px solid black; 
    display: inline-block;
    height: 300px;
    width: 200px;
    margin: 5px;
    overflow: hidden;
    text-align: center;
    /*position: relative;*/
}

.unlogged-wildlife-card h3 {
    /*position: absolute;*/
}


.modal-img {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.wildlife-modal {
   position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
}

.modal-content {
    margin: 5% auto;
    border: 1px solid black;
    width: 80%;
    padding: 5px;
}

.closebtn {
    color:black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.logbtn {
    display: block;
    margin: 5px auto;
}

 html,
      body {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
        position: static !important;
        
      }

body .landing-page {
    background-image: url('images/hiking.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    }


    .landing-page {
    text-align: center;
    }

    .landing-header {
        margin-top: 10%;
    }

    .landing-h {
        top: 20%;
        font-size: 200px;
        margin-bottom: 2%;
        color: cornsilk;
        font-family: 'Courgette', cursive;
        text-align: center;
        font-weight: bold;
        text-shadow: 2px 2px black;
    }

    .landing-page h4 {
        color: black;   
        font-weight: bold;
    }

    .auth-box {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -15rem;
        margin-top: -26.5rem;
        width: 28rem;
        height: 53rem;
        overflow: hidden;
    }

   .user-auth {
       background: linear-gradient(to bottom, rgba(125, 124, 129, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
       height: 100%;
       padding-top: 6%;
       text-align: center;
       position: relative;
       border-radius: 3%;
   }

    .landing-button {
        margin: 2%;
        width: 50%;
        background-color: transparent;
        border-radius: 10%;
        text-align: center;
        color: cornsilk;
        font-size: 50px;
    }

    .landing-button:hover {
        background-color: cornsilk;
        color: grey;
    }

    .greeting {
        font-weight: bold;
        font-family: Helvetica, cursive;
        color: cornsilk;
        position: absolute;
        z-index: 1000;
        
    }

    .login-form input, .register-form input {
        background: transparent;
        color: cornsilk;
        border-radius: 2%;
    }






@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait)and (-webkit-min-device-pixel-ratio: 2) {
      .landing-header {
          margin-top: 18%;
      }
      .landing-h {
          font-size: 145px;
      }
      .auth-box {
            position: absolute;
            top: 58%;
            left: 35%;
            margin-left: -15rem;
            margin-top: -26.5rem;
            width: 60rem;
            height: 80rem;
            overflow: hidden;
      }
      .user-auth {
          padding-top: 35%;
      }

      .greeting {
        margin-top: 6%;
        margin-left: 7%;
        font-size: 35px;
        text-align: center;
      }

      .login-form, .register-form {
          font-size: 40px;
      }


      .login-form input, .register-form input {
          margin: 3%;
      }

      .landing-button {
          margin: 2%;
          width: 50%;
          font-size: 60px;
      }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px)and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        .landing-h {
            margin-top: 9%;
            font-size: 100px;
        }
        .auth-box {
            position: absolute;
            top: 98%;
            left: 35%;
            margin-left: -22rem;
            margin-top: -26.5rem;
            width: 72rem;
            height: 20rem;
            overflow: hidden;
        }
        .greeting {
            margin-left: 34%;
            margin-top: 2%;
            margin-bottom: 1%;
            font-size: 16px;
            text-align: center;
}
      .user-auth {
        padding-top: 9%;
    }
    .landing-button {
        margin: 0%;
        width: 12%;
        font-size: 16px;
}
    .login-form, .register-form {
          font-size: 18px;
      }
      .login-form input, .register-form input {
          margin: 2%;
      }
    }


@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { 
    .auth-box {
        width: 61rem;
        height: 18rem;
        top: 95%;
        left: 40%;
        height: 23rem;
    }
    .landing-button {
        font-size: 20px;
        width: 18%;
        margin: 1%;
    }
    .greeting {
        margin-left: 30%;
        margin-top: 2%;
    }
    .login-form input, .register-form input {
          margin-top: 6%;
          margin-bottom: 1%;
      }
}


     




