<button ng-click="ac.viewAnimal(ac.animal.id)">View Animal</button>
        <img src="{{ac.animal.imageUrl}}">
        <h3>{{ac.animal.commonName}}</h3>
        <h4>{{ac.animal.scientificName}}</h4>



<div id="wildlifeModal" class="wildlife-modal" ng-if="ac.showingModal">
        <div class="modal-content">
            <span class="closebtn" ng-click="ac.closeModal()">&times</span>
            <img src="{{ac.animal.imageUrl}}">
            <h3>{{ac.animal.commonName}}</h3>
            <h4>{{ac.animal.scientificName}}</h4>
            <h5>{{ac.animal.category}}</h4>
            <h5>{{ac.animal.size}}</h4>
            <h5>{{ac.animal.conservationStatus}}</h5>
            <!--<h5>{{ac.animal.stateProtected}}</h5>-->
            <p>{{ac.animal.description}}</p>
        </div>
</div>