    <div>
        <img class="modal-img" src="{{ac.animal.imageUrl}}" alt="{{ac.animal.commonName}}" ng-if="ac.logged != false" ng-click="ac.viewAnimal(ac.animal.id)">
        <img src="images/placeholder.png" alt="animal placeholder" ng-if="ac.logged==false" />
        <h3>{{ac.animal.commonName}}</h3>
        <h4>{{ac.animal.scientificName}}</h4>
    </div>



<div id="wildlifeModal" class="wildlife-modal" ng-if="ac.showingModal">
        <div class="modal-content">
            <button class="btn btn-success logbtn" ng-if="ac.logging" ng-click="ac.logSighting(ac.animal.id)">Log it!</button>
            <span class="closebtn" ng-click="ac.closeModal()">&times</span>
            <img src="{{ac.animal.imageUrl}}" alt="{{ac.animal.commonName}}" />
            <h3>{{ac.animal.commonName}}</h3>
            <h4>{{ac.animal.scientificName}}</h4>
            <h5>{{ac.animal.category}}</h4>
            <h5>{{ac.animal.size}}</h4>
            <h5>{{ac.animal.conservationStatus}}</h5>
            <p>{{ac.animal.description}}</p>
        </div>
</div>